:root {
	/* Custom variables */
	--bg1: #0d1117;
	--bg2: #010409;
	--bg3: #161b22;
	--accent: #1f6feb;
	--text-color: #c9d1d9;
	--borderrad: 10px;
--borderrad2: 6px;
	/* Canvas default variables */
	--pFBbo-background: var(--bg1);
	--dIgyp-background: var(--bg1);
	--voGQb-background: var(--bg1);
	--bDBte-titleBackground: var(--bg1);
	--ic-brand-global-nav-bgd: var(--bg2);
	--yyQPt-background: var(--bg3);
	--eHiXd-lightBackground: var(--accent);
	--eHiXd-lightBorderColor: var(--accent);
	--eHiXd-linkColor: var(--accent);
	--ic-link-color: var(--accent);
	--ic-brand-button--primary-bgd: var(--accent);
	--ic-brand-button--primary-bgd-darkened-15: var(--accent);
	--eHiXd-iconColor: var(--text-color);
	--pFBbo-color: var(--text-color);
	--ic-brand-font-color-dark: var(--text-color);
	
	--bDBte-heroBorderRadius: var(--borderrad);
}
body, .ic-Dashboard-header__layout, .module-sequence-footer .module-sequence-footer-content, #breadcrumbs {
	background: var(--bg1);
}
.list-view a.active {
	color: var(--text-color);
	border-left: 2px solid var(--text-color);
}
.Grouping-styles__title {
	border-radius: var(--borderrad);
}
.btn, .Button, .ui-button {
	border-radius: var(--borderrad2);
}
